<div class="background-img">
    <div class="container">
        <div class="login-box">
            <p>Scenery</p>
            <form #loginForm="ngForm">

              <div class="form-group">
                <input [(ngModel)]="credentials.username" name="username" type="text" placeholder="Username" class="form-control" id="username" required #usernameTemp="ngModel">
                <div [hidden]="usernameTemp.valid || usernameTemp.pristine" class="alert alert-danger"> - Username is required </div>
              </div>

              <div class="form-group">
                <input [(ngModel)]="credentials.password" name="password" type="password" placeholder="Password" class="form-control" id="password" required #passwordTemp="ngModel">
                <div [hidden]="passwordTemp.valid || passwordTemp.pristine" class="alert alert-danger"> - Password is required </div>
              </div>

              <button type="submit" class="btn btn-success" (click)="authenticate(); loginForm.reset()" [disabled]="!loginForm.form.valid">Login</button>
              <a class="routerLink" routerLink="/register"> Not registered? Click here to sign up!</a>
            </form>
        </div>
    </div>
</div>
